/* MOBILE AND GLOBAL STYLES */

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  background: rgb(72, 72, 72);
}

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */



/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  body {
    background: rgb(212, 230, 251);
  }



}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: rgb(212, 230, 251);
  }

  header {
    background-color: black;
    color: beige;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }

  #siteName {
    font-size: 24px;
    text-decoration: none;
    font-weight: 900;

  }

  #navbar a {
    position: relative;
    font-size: 16px;
    color: beige;
    font-weight: 600;
    text-decoration: none;
    margin-right: 50px;

  }

  #navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: beige;
    transition: .3s;

  }

  #navbar a:hover::before {
    width: 100%;
  }

  body {
    margin-top: 6em;
    padding: 1em;
  }



}