/* MOBILE AND GLOBAL STYLES */

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: "Nunito", sans-serif;
  background: #e6eef9;
}

header {
  background-color: #000000;
  position: fixed;
  top: -1;
  height: 65px;
  width: 100%;
  justify-content: space-between;
}

.siteName h2 {
  color: beige;
  font-size: 21px;
  padding: 5px 10px;
  font-weight: bold;
}

.siteName h2:last-of-type {
  margin: -10px 35px;
}

nav {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  transform: translateX(100%);
  transition: 0.5s;
  background: black;
  align-items: center;
  justify-content: center;
}

nav a {
  display: flex;
  justify-content: center;
  color: beige;
  font-size: 20px;
  line-height: 80px;
  margin: 0 5px;
}

nav.open {
  transform: translateX(0);
}

#menuToggler {
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px 20px;
  color: white;
  font-size: 40px;
}

main {
  padding: 85px 15px;
}

img {
  height: 100px;
}

/* TABLET STYLES */

@media screen and (min-width: 500px) {

  .siteName {
    display: flex;
    margin-top: 15px;
  }

  .siteName h2:last-of-type {
    margin: 0 -12px;
  }
}


/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {
  nav {
    width: 100%;
    transform: none;
    padding-top: 0;
    display: flex;
    justify-content: center;

  }

  #menuToggler {
    display: none;
  }

  header {
    width: 100%;
  }


  main {
    padding-top: 0;
  }

}